.cta {
  padding: 40px 20px;
  background-image: url("/bg.png");
  background-color: var(--unchained-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid var(--unchained-gold);
}

.cta__content {
  max-width: 700px;
  text-align: center;
  margin: 0px auto;

  > h1 {
    margin: 0px;
    font-size: 2.5rem;
    font-family: "Cinzel", serif;
    color: var(--unchained-gold);
  }

  > p {
    font-size: 17px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1000px) {
  .cta__content {
    > h1 {
      font-size: 2rem;
    }
  }
}
